<!DOCTYPE html>
<html>

<head>
    <title>JPSauser</title>
</head>

<body>
    <div style="display: table; margin: auto;">
        <p>
            <h2>
                </br>
            </h2>
        </p>
        <center>
            <h1>
                {{jpsNom}}
            </h1>
        </center>
        <p>
            <h2>
                </br>
            </h2>
        </p>
        <iframe width="800 " height="600" src="{{jpsSong}}" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture">
        </iframe>

        <center>
            <button id="button" style="marging 5px" onClick="window.location.reload();">
                {{again}}
            </button>

        </center>
    </div>
</body>

</html>